---
---

<section class="hero-section" id="hero">
  <video id="bgVideo" class="bg-video active" autoplay muted playsinline preload="auto"></video>
  <video id="bgVideo2" class="bg-video inactive" autoplay muted playsinline preload="auto" style="opacity: 0;"></video>

  <div class="container hero text-center">
    <div>
      <h1 class="fw-bold mb-3">
        Hi, <span class="text-warning">Nitesh Kumar Verma</span> here
      </h1>

      <h3>
        <span class="typing" id="typing"></span><span class="cursor"></span>
      </h3>

      <p class="mt-4 opacity-75">
        Passionate about building modern web apps and hardware-powered solutions.
      </p>

      <a href="#projects" class="btn btn-outline-danger mt-3 px-4">
        Explore My Work
      </a>
    </div>
  </div>
</section>

<script>
  import '../scripts/main.js';
</script>
